[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pacifico/Desktop/sublime_text.desktop]
row=0
col=4

[/home/pacifico/Desktop/spotify.desktop]
row=0
col=5

[/home/pacifico/Desktop/firefox.desktop]
row=0
col=3

[Trash]
row=0
col=0

[/]
row=0
col=1

[/home/pacifico]
row=0
col=2

